img {
    width: 400px;
    height: 300px;
}

head {
    text-align: center;
    
}

body {
    text-align: center;
    background-color: chartreuse;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

img {
    width: 450px;
    height: 350px;
}

div {
    margin-top: 15px;
}
